<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{title}}</title>
<style>.main{
  width:1000px;
  background-color: red;
  color: green;
  padding: 30px;
  font-size: 30px

}
</style>
</head>
  <body>
    {% for n in list %}
    <div>{{forloop.counter}} {{n}}</div>
    {% endfor %}
    <br>
    <table border="2" cellpading="10">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>gender</th>
        <th>Marks</th>
        <th>pass/fail</th>
      </tr>
      {% for d in student_details %}
      <tr>
        <td>{{d.name}}</td>
        <td>{{d.phone}}</td>
        <td>{{d.gender}}</td>
        <td>{{d.marks}}</td>
        <td>
          {% if d.marks >= 35 %}
          pass
          {% else %}
          fail
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>

    <div class='main'><h4>{{homename}}<br>{{list}}</h4></div>
   </body>
</html>